{% extends "user/base_user.html" %}

{% block title %}
Profil Pengguna | Oval Photo
{% endblock %}

{% block content %}
<div class="header-profile">
    <div class="profile-pic-wrapper">
      <img
        src="https://storage.googleapis.com/a1aa/image/1a04022f-3f24-4631-c626-d9df0888aefb.jpg"
        alt="User profile icon silhouette in black on light blue circular background"
        class="profile-pic"
      />
    </div>
  </div>
  <div class="content-profile">
    <p class="name-profile">Serini Dewi Lestari</p>
    <p class="username-profile">FutureBride_77</p>
    <p class="email-profile">dewiserinilestari@gmail.com</p>
    <button class="btn-profile" type="button">Ubah Profil</button>
  </div>
{% endblock %}
