{% extends "user/base_user.html" %}

{% block title %}
Riwayat Pemesanan | Oval Photo
{% endblock %}

{% block content %}
<h1>Riwayat Pemesanan</h1>
<table class="table">
    <thead>
        <tr>
            <th>Paket</th>
            <th>Tanggal Acara</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Paket Gold</td>
            <td>10 Agustus 2024</td>
            <td>Selesai</td>
        </tr>
        <!-- Tambah riwayat pemesanan lainnya -->
    </tbody>
</table>
{% endblock %}
